{% extends "base.twig" %}

{% block content %}
    <section class="container mx-auto">
       <h1 class="pt-10 text-5xl">wordpress-bedrock-webpack-tailwindcss</h1>

        <a href="https://punkmedia.cz/" class="text-2xl hover:underline">https://punkmedia.cz/</a>
    </section>
{% endblock %}
